
@{
    ViewBag.Title = "Registry";
}

<header>
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css">
</header>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand brand"><i class="fa fa-codepen"></i>Movie Purchase</a>
        </div>
        <div id="navbar-collapse-02" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li">


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="~/Home/Registry"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    
        <div class="card card-container" style="max-width:450px; padding:20px 120px;">
            <form class="form-signin">

  

                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label">Fornavn</label>
                            <input type="text" name="Fornavn" class="form-control" placeholder="Fornavn" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label">Etternavn</label>
                            <input type="text" name="Etternavn" class="form-control" placeholder="Etternavn" required>
                            <p/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Adresse</label>
                        <input type="text" name="Adresse" class="form-control" placeholder="Adresse" required>
                        <p />
                    </div>

                    <div class="control-group">
                        <label class="control-label">Telefon</label>
                        <input type="text" name="Telefon" class="form-control" placeholder="Telefon" required>
                        <p />
                    </div>

                    <div class="control-group">
                        <label class="control-label">Fødselsdato</label>
                        <input type="text" name="Fødselsdato" class="form-control" placeholder="Fødselsdato" required>
                        <p />
                    </div>

                    <div class="control-group">
                        <label class="control-label">Epost</label>
                        <input type="email" name="Epost" class="form-control" placeholder="Email address" required autofocus>
                        <p />
                    </div>

                    <div class="control-group">
                        <label class="control-label">Passord</label>
                        <input type="password" name="Passord" class="form-control" placeholder="Password" required>
                        <p />
                    </div>

                    <div class="control-group">
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrate</button>
                    </div>
            </form>
        </div>
 
    <!-- /form -->

}